/*******************************
Global Overrides
 *******************************/
@h1: 30px;
@h2: 28px;
@h3: 23px;
@h4: 18px;
@h5: 15px;

body {
  color: @textColor;
  font-size: 15px!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @headerFont;
  font-weight: 700;
}

h1 {
  font-size : @h1;
}

h2 {
  font-size: @h2;
  color: @secondaryColor;
}

h3 {
  font-size: @h3;
  color: @darkSecondaryColor;
}

h4 {
  font-size: @h4;
  color: @darkSecondaryColor;
}

h5 {
  font-size: @h5;
  color: @darkSecondaryColor;
}

a {
  color: @lightGreenColor;
  &:hover {
    color: @darkGreenColor;
  }
  &:focus {
    outline: none !important;
  }
}

.documentFirstHeading {
  margin-top: 0.5em !important;
}

p > span:empty {
  display: inline-block;
  &:before {
    content: "\a0";
  }
}
