.sk-layout__filters {
  margin: 15px 15px 15px 0px !important;
}

.sk-results-list {
  padding: 15px !important;
}

.sk-panel {
  margin-bottom: 15px !important;
}

.rc-slider {
  width: 80% !important;
  margin-left: 15px !important;
}

body {
}

/*
Styles for the search results as copied from
https://github.com/eea/bise.theme/blob/master/bise/theme/skins/bise_theme_styles/catalogue/catalogue.css
on 24th of september 2020:
*/

.catalogue-cell {
    margin: 2rem 0;
}

.catalogue-cell .category {
    font-size: .9em;
    color: #999
}

.catalogue-cell small {
    display: block;
}
.cell-title {
    font-family: inherit;
    font-size: larger!important;
    margin-bottom: .25em;
    font-weight: 400;
}
.cell-alternative-title {
    display: block;
    font-size: small;
    font-style: italic;
    line-height: 1.2;
    margin: .5em 0;
    padding-left: 1em;
    border-left: solid #41b764;
    color: #748284;
    cursor: help;
}
.cell-alternative-title:hover {
    color: inherit;
}
.cell-document-type {
    font-size: x-small;
    text-transform: uppercase;
    font-weight: 600;
}
.cell-document-type::before { content: '['; font: inherit;}
.cell-document-type::after  { content: ']'; font: inherit;}

.catalogue-cell .cell-source {
    color: #41b664;
}

.catalogue-cell .cell-footer {
/*     font-size: smaller; */
    color: #748284;
    margin-top: .5rem;
}

.catalogue-cell .hits {
    border-left: 3px solid #8ea04c;
    border-top: 1px solid #8ea04c;
    font-size: 10px;
    line-height: 10px;
    -webkit-box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.3)
}

.catalogue-cell p.hit {
    background: #fff;
    color: #6b6b6b;
    margin-bottom: 0
}

.catalogue-cell em {
    font-weight: bold;
    font-style: normal
}


.catalogue-cell .att-preview ol {
    margin-top: 12px;
    margin-bottom: -5px;
    margin-left: -25px;
    list-style-type: none;
}

.catalogue-cell .att-preview ol li {
    color: #606060;
}

.catalogue-cell .att-preview ol li em {
    padding: 1px 3px;
    color: #3b5705
}
