.primary-big-text {
  font-size: 45px;
  line-height: 45px;
}

.medium-text {
  font-size: 30px;
  line-height: 30px;
}

.dark-green-text {
  color: #1f6237;
}

.light-green-text {
  color: #548b4f;
}

.vivid-green-text {
  color: #5a7e00;
}

.blue-text {
  color: #0070ae;
}

.red-text {
  color: #ed1834;
}

.yellow-text {
  color: #f2a70e;
}

.grey-text {
  color: #8d8d8d;
}
