.primary-big-text {
  font-size: 300%;
}

.dark-green-text {
  color: #1f6237;
}

.light-green-text {
  color: #77ba72;
}

.vivid-green-text {
  color: #7a9b28;
}

.blue-text {
  color: #44a2d6;
}

.red-text {
  color: #ed1834;
}

.yellow-text {
  color: #f2a70e;
}

.grey-text {
  color: #8d8d8d;
}
